<div class="card">
    <div class="card-body">
        <h5 class="card-title">Carregamento de dados</h5>
        <div class="row mt-3">
            <div class="col-4">
                <a class="btn btn-info" asp-controller="Casamento" asp-action="CarregarColunasCivil" asp-route-idLocal="@ViewBag.IdLocal" onclick="msgalert()">Casamento Civil</a>
            </div>
            <div class="col-4">
                <a class="btn btn-info" asp-controller="Casamento" asp-action="CarregarColunasReligioso" asp-route-idLocal="@ViewBag.IdLocal" onclick="msgalert()">Casamento Religioso</a>
            </div>
            <div class="col-4">
                <a class="btn btn-info" asp-controller="Obito" asp-action="CarregarColunasObito" asp-route-idLocal="@ViewBag.IdLocal" onclick="msgalert()">Óbitos</a>
            </div>
            <div class="col-4">
                <a class="btn btn-info" asp-controller="Obito" asp-action="CarregarColunasReligioso" asp-route-idLocal="@ViewBag.IdLocal" onclick="msgalert()">Natimortos</a>
            </div>
        </div>
    </div>
</div>